In [2]:
import pandas as pd

In [3]:
df1=pd.DataFrame([[1,2,3,7],[5,8,7,4],[8,9,5,4],[4,7,8,9]], columns=['A','B','C','D'])
df1

   A  B  C  D
0  1  2  3  7
1  5  8  7  4
2  8  9  5  4
3  4  7  8  9

In [4]:
df2=pd.DataFrame([[1,8,9,7],[5,8,1,2],[8,9,6,5],[4,9,3,5]], columns=['W','X','Y','Z'])
df2

   W  X  Y  Z
0  1  8  9  7
1  5  8  1  2
2  8  9  6  5
3  4  9  3  5