In [1]:
# class pandas.DataFrame(
#             data = None, 
#             index = None, 
#             columns = None,       
#             dtype = None,
#             copy = None
#     )

In [2]:
import pandas as pd
from tabula import read_pdf

In [3]:
df=pd.read_excel(r"C:\Users\Vinayak\Desktop\data.xlsx")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   rain
1 2017-01-02           35          3  sunny
2 2017-01-03           48          8   snow
3 2017-01-04           52          2   warm