In [9]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Vinayak\Downloads\archive (1)\diabetes.csv")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [14]:
df['Age'].max()

81

In [15]:
df['Age'].min()

21

In [19]:
df['Pregnancies'][df['Insulin']==0]

0       6
1       1
2       8
5       5
7      10
       ..
761     9
762     9
764     2
766     1
767     1
Name: Pregnancies, Length: 374, dtype: int64

In [21]:
df['Insulin'][df['Age']==47]

159    114
178      0
283      0
306    132
672     49
766      0
Name: Insulin, dtype: int64

In [22]:
# average age
df['Age'].mean()

33.240885416666664