In [9]:
import pandas as pd 
df=pd.read_csv(r"C:\Users\Vinayak\Downloads\archive (1)\diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [10]:
data={
    'day':["nov","dec","jan","feb","sep"],
    "temperature":[58,78,52,65,21],
    "windspeed":[8,5,4,7,1]
}
df=pd.DataFrame(data)
df

   day  temperature  windspeed
0  nov           58          8
1  dec           78          5
2  jan           52          4
3  feb           65          7
4  sep           21          1

In [11]:
df.shape

(5, 3)

In [14]:
rows, colums=df.shape

colums

3

In [15]:
rows

5

In [17]:
df.head(3)

   day  temperature  windspeed
0  nov           58          8
1  dec           78          5
2  jan           52          4

In [19]:
df.tail(3)

   day  temperature  windspeed
2  jan           52          4
3  feb           65          7
4  sep           21          1

In [20]:
df

   day  temperature  windspeed
0  nov           58          8
1  dec           78          5
2  jan           52          4
3  feb           65          7
4  sep           21          1

In [23]:
df[2:4]

   day  temperature  windspeed
2  jan           52          4
3  feb           65          7

In [24]:
df

   day  temperature  windspeed
0  nov           58          8
1  dec           78          5
2  jan           52          4
3  feb           65          7
4  sep           21          1

In [34]:
df.columns

Index(['day', 'temperature', 'windspeed'], dtype='object')

In [33]:
df.day

0    nov
1    dec
2    jan
3    feb
4    sep
Name: day, dtype: object

In [35]:
type(df['day'])

pandas.core.series.Series

In [36]:
df

   day  temperature  windspeed
0  nov           58          8
1  dec           78          5
2  jan           52          4
3  feb           65          7
4  sep           21          1

In [38]:
df[['day','windspeed']]

   day  windspeed
0  nov          8
1  dec          5
2  jan          4
3  feb          7
4  sep          1

In [39]:
df

   day  temperature  windspeed
0  nov           58          8
1  dec           78          5
2  jan           52          4
3  feb           65          7
4  sep           21          1

In [42]:
df['temperature'].max()

78

In [43]:
df['temperature'].mean()

54.8

In [44]:
df.describe()

       temperature  windspeed
count     5.000000   5.000000
mean     54.800000   5.000000
std      21.229696   2.738613
min      21.000000   1.000000
25%      52.000000   4.000000
50%      58.000000   5.000000
75%      65.000000   7.000000
max      78.000000   8.000000

In [45]:
df

   day  temperature  windspeed
0  nov           58          8
1  dec           78          5
2  jan           52          4
3  feb           65          7
4  sep           21          1

In [48]:
df[df.temperature >= 50]

   day  temperature  windspeed
0  nov           58          8
1  dec           78          5
2  jan           52          4
3  feb           65          7

In [49]:
df.max()

day            sep
temperature     78
windspeed        8
dtype: object

In [50]:
df

   day  temperature  windspeed
0  nov           58          8
1  dec           78          5
2  jan           52          4
3  feb           65          7
4  sep           21          1

In [51]:
df[df.temperature == df.temperature.max()]

   day  temperature  windspeed
1  dec           78          5

In [52]:
df

   day  temperature  windspeed
0  nov           58          8
1  dec           78          5
2  jan           52          4
3  feb           65          7
4  sep           21          1

In [87]:
data={
    'day':["nov","dec","jan","feb","sep"],
    "temperature":[58,78,52,65,21],
    "windspeed":[8,5,4,7,1]
}
df=pd.DataFrame(data)
df

   day  temperature  windspeed
0  nov           58          8
1  dec           78          5
2  jan           52          4
3  feb           65          7
4  sep           21          1

In [98]:

df.set_index('day',inplace=True)
df

     temperature  windspeed
day
nov           58          8
dec           78          5
jan           52          4
feb           65          7
sep           21          1

In [99]:

df.reset_index(inplace=True)
df

   day  temperature  windspeed
0  nov           58          8
1  dec           78          5
2  jan           52          4
3  feb           65          7
4  sep           21          1

   day  temperature  windspeed
0  nov           58          8
1  dec           78          5
2  jan           52          4
3  feb           65          7
4  sep           21          1