In [10]:
import pandas as pd
df=pd.read_excel(r"C:\Users\Vinayak\Desktop\data.xlsx")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   rain
1 2017-01-02           35          3  sunny
2 2017-01-03           48          8   snow
3 2017-01-04           52          2   warm

In [13]:
weather_data ={
    ("1/1/2017",32,6,'rain'),
    ("1/2/2017",35,3,'sunny'),
    ("1/3/2017",48,10,'snow'),
    ("1/4/2017",52,2,'warm'),
}
df=pd.DataFrame(weather_data, columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/4/2017           52          2   warm
1  1/1/2017           32          6   rain
2  1/3/2017           48         10   snow
3  1/2/2017           35          3  sunny