In [1]:
import pandas as pd

In [5]:
df=pd.read_csv(r'C:\Users\Vinayak\Downloads\archive\diabetes.csv')
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [10]:
print(df['Age'].head())

0    50
1    31
2    32
3    21
4    33
Name: Age, dtype: int64

In [28]:
print(df['BMI'].dtype)

float64

In [18]:
a=pd.date_range('20131104', periods=4)
a

DatetimeIndex(['2013-11-04', '2013-11-05', '2013-11-06', '2013-11-07'], dtype='datetime64[ns]', freq='D')

In [19]:
a.to_numpy()

array(['2013-11-04T00:00:00.000000000', '2013-11-05T00:00:00.000000000',
       '2013-11-06T00:00:00.000000000', '2013-11-07T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [32]:
df1= pd.DataFrame([[1,2,5,2],[4,68,5,1],[4,8,6,2],[3,5,7,9],[5,8,541,7]])

In [33]:
df1.to_csv('ex.csv')