## class pandas.DataFrame (data=None,  index=None,  columns=None,  dtype=None,                      copy=None)

In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

1.5.3

####    DataFrame

In [20]:
data={
    'name':["chinmay",'harsh','ram'],
    'marks':[85,58,96]
}
result=pd.DataFrame(data)
result.head()
# print(result)

      name  marks
0  chinmay     85
1    harsh     58
2      ram     96

In [25]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

# print(df)
# df.head()
# print(df.loc[0])
print(df.loc[[0,1]])

   calories  duration
0       420        50
1       380        40

In [40]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data, index=["day1","day2","day3"])
print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

####   Series

In [41]:
a= [1,5,8,6,9,5,510,88]
df=pd.Series(a)
print(a)

[1, 5, 8, 6, 9, 5, 510, 88]

In [50]:
a= [1,5,8]
df=pd.Series(a, index=["a","b","c"])
print(df)

a    1
b    5
c    8
dtype: int64

In [51]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [52]:

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

###   csv_file

In [67]:

df=pd.read_csv(r'C:\Users\Vinayak\Downloads\archive\diabetes.csv')
df.head(10)
# print(df.to_string())

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [66]:
print(pd.options.display.max_rows)

60

### read_json

In [80]:
# df=pd.read_json(r'C:\Users\Vinayak\file.json')
# # df.head()
# print(df.to_string())

In [86]:
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102,
    
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

df.head(6)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [88]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  6 non-null      int64
 1   Pulse     6 non-null      int64
 2   Maxpulse  6 non-null      int64
 3   Calories  6 non-null      int64
dtypes: int64(4)
memory usage: 240.0+ bytes
None